* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Open Sans', sans-serif;
   background-color: #222;
   color: #fff;
}

.container {
   width: 80%;
   margin: auto;
   height: 100vh;
}

.head {
   text-align: center;
   text-transform: uppercase;
   margin: 10px 0;
}


input {
   width: 100%;
   height: 30px;
   outline: none;
   border: none;
   background-color: #111;
   margin: 10px 0;
   border-radius: 4px;
   padding: 4px;
   color: #fff;
   transition: .5s;
}

input:focus {
   background-color: #000;
   transform: scale(1.1);
}

.price {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.price input {
   width: 20%;
}

#total {
   background-color: #a00d02;
   padding: 5px 2px;
   border-radius: 4px;
}

#total::before {
   content: 'total :';
}

button {
   width: 100%;
   height: 30px;
   border: none;
   cursor: pointer;
   background-color: #390053;
   color: #fff;
   border-radius: 20px;
   transition: .5s;
}

button:hover {
   background-color: #51025f;
   letter-spacing: 1px;
}

.search-butt {
   display: flex;
   justify-content: space-between;
}

.search-butt button {
   width: 45%;
}

#delateAll {
   margin: 20px 0;
}

table {
   width: 100%;
   text-align: center;
   margin: 10px 0;
   border-spacing: 0;
   border: 2px solid indigo;
   border-radius: 3px;
}

thead {
   background-color: indigo;
}

table th {
   text-transform: uppercase;
}

th,td {
   padding: 5px;
}